@media only screen and (max-width: 370px) {
  .navbar-font {
    font-size: 6px;
  }
  .banner-border-1 {
    top: -6%;
    left: 0;
    width: 5em;
  }
  .banner-border-2 {
    top: -2%;
    left: 0;
    width: 9em;
  }
  .banner-border-3 {
    top: 0;
    left: 0;
    width: 15em;
  }
  .discount-circle {
    left: 87%;
  }
  .banner-image-dimension {
    width: 75%;
    height: 75%;
  }
  .vertical-dots {
    left: -50%;
  }
  .banner-container {
    display: flex;
    justify-content: center;
  }
  .banner-heading {
    top: 10%;
    left: 0;
  }

  .banner-text {
    top: -7%;
    left: 0;
  }
  .banner-button {
    top: -10%;
    left: 0;
  }

  .banner-custom {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .collection-image-container {
    margin-top: 3rem;
  }
  .collection-img-1 {
    position: relative;
    left: 2%;
    background-size: cover;
  }
  .collection-img-2 {
    margin-top: 3rem;
    background-size: cover;
  }
}

@media only screen and (min-width: 371px) and (max-width: 476px) {
  .banner-border-1 {
    top: -10.5%;
    left: 0;
    width: 5em;
  }
  .banner-border-2 {
    top: -5%;
    left: 0;
    width: 9em;
  }
  .banner-border-3 {
    top: 0;
    left: 0;
    width: 18em;
  }
  .discount-circle {
    left: 87%;
  }
  .banner-image-dimension {
    width: 75%;
    height: 75%;
  }
  .vertical-dots {
    left: -50%;
  }
  .banner-container {
    display: flex;
    justify-content: center;
  }
  .banner-heading {
    top: 10%;
    left: 0;
  }

  .banner-text {
    top: -10%;
    left: 0;
  }
  .banner-button {
    top: -10%;
    left: 0;
  }

  .banner-custom {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .collection-image-container {
    margin-top: 3rem;
  }
  .collection-img-1 {
    position: relative;
    left: 2%;
  }
  .collection-img-2 {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 477px) and (max-width: 575px) {
  .banner-border-1 {
    top: -10.5%;
    left: 0;
    width: 5em;
  }
  .banner-border-2 {
    top: -5%;
    left: 0;
    width: 9em;
  }
  .banner-border-3 {
    top: 0;
    left: 0;
    width: 18em;
  }
  .discount-circle {
    left: 87%;
  }
  .vertical-dots {
    top: 40%;
  }
  .banner-container {
    display: flex;
    justify-content: center;
  }
  .banner-heading {
    top: 10%;
    left: 0;
  }
  .banner-text {
    top: -10%;
    left: 0;
  }
  .banner-button {
    top: -10%;
    left: 0;
  }
  .banner-custom {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .collection-image-container {
    margin-top: 3rem;
  }
  .collection-img-1 {
    position: relative;
    left: 2%;
  }
  .collection-img-2 {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .collection-image-container {
    margin-top: 3rem;
  }
  .collection-img-1 {
    position: relative;
    left: 2%;
  }
  .collection-img-2 {
    margin-top: 3rem;
  }
  .discount-circle {
    left: 87%;
  }
  .vertical-dots {
    top: 40%;
  }
  .banner-container {
    display: flex;
    justify-content: center;
  }
  .banner-heading {
    top: 10%;
    left: 0;
  }
  .banner-border-1 {
    top: -14%;
    left: 0;
    width: 5.5em;
  }
  .banner-border-2 {
    top: -6%;
    left: 0;
    width: 10em;
  }
  .banner-text {
    top: -10%;
    left: 0;
  }
  .banner-button {
    top: -10%;
    left: 0;
  }
  .banner-border-3 {
    top: 0;
    left: 0;
    width: 23em;
  }
  .banner-custom {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .banner-image-dimension {
    width: 495px;
    height: 540px;
  }
  .discount-circle {
    left: 91%;
  }
  .vertical-dots {
    top: 45%;
    left: 30%;
  }
  .banner-heading {
    top: 10%;
  }
  .banner-border-1 {
    top: -15.5%;
    width: 6em;
  }
  .banner-border-2 {
    top: -7%;
    width: 11em;
  }
  .banner-text {
    top: -10%;
  }
  .banner-button {
    top: -10%;
  }
  .banner-border-3 {
    top: 0;
    width: 30em;
  }
  .banner-custom {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-border-1 {
    top: 1.5%;
    width: 7em;
  }
  .banner-border-2 {
    top: 8.5%;
    width: 12.25em;
  }
  .banner-border-3 {
    top: 25%;
    width: 30em;
  }
}

@media only screen and (min-width: 1200px) {
  .banner-border-1 {
    top: 5%;
    width: 7em;
  }
  .banner-border-2 {
    top: 11%;
    width: 12.25em;
  }
  .banner-border-3 {
    top: 25%;
    width: 30em;
  }
}
